/* Gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #FFF;
    padding: 20px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

/* Header Menu */

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #16507b;
}

.logo h2{
    font-weight: 400;
    font-size: 22px;
}

.menu a{
    color: #124265;
    font-size: 14px;
    text-decoration: none;
    margin-left: 20px;
    /* transition: 300ms; */
}

.menu a:hover{
    color: #007bff;
}

.menu .btn-menu{
    background-color: #007bff;
    display: inline-block;
    padding: 8px 20px;
    color: #FFF;
    border-radius: 5px;
}

.menu .btn-menu:hover{
    background-color: #124265;
    color: #FFF;
}

/* Header */
section.main{
    background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, .3)), url("../img/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 70px 0;
}

.main__cta{
    width: 100%;
    text-align: center;
    margin: 60px 0;
}

.main__cta h2{
    color: #16507b;
    font-size: 40px;
}

.main__cta p{
    color: gray;
    font-size: 19px;
    margin: 10px 0;
}

.main__cta button{
    background-color: #007bff;
    display: inline-block;
    padding: 10px 40px;
    color: #FFF;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.main__cta button:hover{
    background-color: #124265;
    color: #FFF;
}

.diferenciais{
    display: flex;
    flex-wrap: wrap;
}

.diferenciais-single{
    background-color: #FFF;
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
}

.diferenciais-single:hover{
    transform: scale(1.08);
}

.diferenciais-single i{
    color: #2487ce;
    font-size: 30px;
}

.diferenciais-single h2{
    color: #124265;
    margin: 10px 0;
    font-size: 17px;
}

.diferenciais-single p{
    color: gray;
    font-size: 14px;
    line-height: 30px;
}

@media screen and (max-width: 768px){
    .diferenciais-single{
        width: 100%;
        margin-bottom: 20px;
    }
}

/* About */
section.about{
    padding: 80px 0;
}

.call-about{
    width: 100%;
    text-align: center;
}

.call-about h2{
    font-size: 32px;
    color: #124265;
    text-transform: uppercase;
    font-weight: bold;
}

.call-about p{
    font-size: 14px;
    color: gray;
    margin: 20px 0px;
}

.content-about{
    display: flex;
    flex-wrap: wrap;
}

.content-about p{
    width: 48%;
    margin-right: 2%;
    color: #444;
    margin-top: 10px;
}

.content-about i{
    color: #2487ce;
    margin-right: 5px;
}

.content-about span{
    display: inline-block;
    margin-top: 10px;
}

.content-about button{
    display: inline-block;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: #FFF;
    border: 2px solid #2487ce;
    color: #2487ce;
    margin-top: 20px;
}

.content-about button:hover{
    background-color: #007bff;
    color: #FFF;
}
    

@media screen and (max-width: 768px){
    .content-about p{
        width: 100%;
        margin: 20px 20px;
    }
}