*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #FFF;
    padding: 20px 0;
    border: 1px solid rgb(200, 200, 200);
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #16507b;
}

.logo h2{
    font-weight: 400;
    font-size: 22px;
}

.menu a{
    color: #124265;
    font-size: 14px;
    text-decoration: none;
    margin-left: 20px;
    transition: 300ms;
}

.menu a:hover{
    color: #007bff;
}

.menu .btn-menu{
    background-color: #007bff;
    display: inline-block;
    padding: 8px 20px;
    color: #FFF;
    border-radius: 5px;
}

.menu .btn-menu:hover{
    background-color: #124265;
    color: #FFF;
}